$main-color: #1a272c;
$sub-color: #f1f1f1;

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: $sub-color;
  color: $main-color;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  transition: font-size 100ms ease-in-out;

  &:hover {
    font-size: 20px;
    background-color: $main-color;
    color: $sub-color;
    border: 1px solid $sub-color;
  }
}
