body {
  margin: 0;
  font-family: 'Abel', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b272c;
  color: rgb(241, 241, 241);
  padding: 20px 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

/* $main-color: rgb(241, 241, 241);
$sub-color: #1b272c; */
